
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRecordLabel" data-translate="noctemApp.record.home.createOrEditLabel">Create or edit a Record</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.record.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.record.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="noctemApp.record.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.record.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
            <button type="button" class="btn btn-default"  ng-click="vm.add();">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
        <div class="form-group">
            <table>
                <tr ng-repeat="ri in vm.recordItems track by $index" >
                    <td><input  class="form-control" ng-model="ri.description"  required ></td>
                    <td><input  type="number" class="form-control" ng-model="ri.quantity" required ></td>
                    <td><input  type="number" class="form-control" ng-model="ri.price" required ></td>
                    <td><input  type="number" class="form-control" ng-model="ri.total" required ></td>
                    <td>
                        <button type="button" class="btn btn-default"  ng-click="vm.delete($index);">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>



        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="noctemApp.record.date" for="field_date">Date</label>-->
                <!--<div class="input-group">-->
                    <!--<input id="field_date" type="text" class="form-control" name="date" datetime-picker="{{dateformat}}" ng-model="vm.record.date" is-open="vm.datePickerOpenStatus.date"-->
                    <!--required  />-->
                    <!--<span class="input-group-btn">-->
                        <!--<button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>-->
                    <!--</span>-->
                <!--</div>-->
            <!--<div ng-show="editForm.date.$invalid">-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.date.$error.required" data-translate="entity.validation.required">-->
                    <!--This field is required.-->
                <!--</p>-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.date.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">-->
                    <!--This field should be a date and time.-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-group">
            <label class="control-label" data-translate="noctemApp.record.total" for="field_total">Total</label>
            <input type="number" class="form-control" name="total" id="field_total"
                    ng-model="vm.record.total"
                    required />
            <div ng-show="editForm.total.$invalid">
                <p class="help-block"
                    ng-show="editForm.total.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.total.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <!--<div class="form-group">-->
            <!--<label data-translate="noctemApp.record.user" for="field_user">User</label>-->
            <!--<select class="form-control" id="field_user" name="user" ng-model="vm.record.user" ng-options="user as user.id for user in vm.users track by user.id">-->
                <!--<option value=""></option>-->
            <!--</select>-->
        <!--</div>-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
